<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 5</title>
</head>

<body>
    <div id="app">
        <div v-if="edit">
            <form @submit.prevent="updateUser">
                <input type="text" v-model="name" />
                <input type="submit" value="update">
            </form>
        </div>
        <div v-else>
            <form @submit.prevent="addUser">
                <input type="text" v-model="name" />
                <input type="submit" value="add">
            </form>
        </div>

        <ul v-for="(user, index) in users">
            <li>
                {{user.name}}
                <button @click="editUser(index, user)">Edit</button> ||
                <button @click="deleteUser(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                edit: false,
                name: '',
                users: [{
                    name: 'Muhammad Iqbal Mubarok'
                },
                {
                    name: 'Ruby Purwanti'
                },
                {
                    name: 'Faqih Muhammad'
                }
                ]
            },
            methods: {
                addUser() {
                    this.users.push({
                        name: this.name
                    })
                    this.name = ""
                },

                editUser(index, user) {
                    this.index = index
                    this.name = user.name
                    this.edit = true
                },

                updateUser() {
                    this.users[this.index].name = this.name
                    this.name = ''
                    this.edit = false
                },

                deleteUser(index) {
                    if (confirm('Anda yakin ?')) {
                        this.users.splice(index, 1);
                    }
                }

            }
        });
    </script>
</body>

</html>